<div class="filter">
    <h1 class="filter__heading">Filter Result</h1>
    <form
        action
        class="form"
    >
        <div>
            <label for="provider">Status</label>
            <div class="form__group">
                <select
                    name="status"
                    class="select"
                >
                    <option value="all">All</option>
                    <option value="successful">Success</option>
                    <option value="failed">Failed</option>
                    <option value="pending">Pending</option>
                </select>
            </div>

        </div>
        <div>
            <label for="district">District</label>
            <div class="form__group">
                <select
                    class="select"
                    name="district"
                >
                    <option value="all">All</option>
                    <option value="mushin">Mushin</option>
                    <option value="apapa">Apapa</option>
                    <option value="ibeju">Ibeju</option>
                    <option value="lekki">Lekki</option>
                    <option value="agbara">Agbara</option>
                    <option value="orile">Orile</option>
                    <option value="festac">Festac</option>
                    <option value="ijora">Ijora</option>
                    <option value="Ojo">Ojo</option>
                    <option value="island">Island</option>

                </select>
            </div>
        </div>
        <div>
            <label for="accountType">Account Type</label>
            <div class="form__group">
                <select
                    name="accountType"
                    id="accountType"
                    class="select"
                >
                    <option value="all">All</option>
                    <option value="prepaid">prepaid</option>
                    <option value="postpaid">postpaid</option>
                </select>
            </div>
        </div>

        <div>
            <label for="startDate">Start Date</label>
            <div class="form__group--input">
                <input
                    type="text"
                    name="startDate"
                    placeholder="15/7/2019"
                >
            </div>
        </div>

        <div>
            <label for="endDate">End Date</label>
            <div class="form__group--input">
                <input
                    type="text"
                    name="endDate"
                    placeholder="15/7/2019"
                >
            </div>
        </div>
        <button class="button">Filter<fa-icon [icon]="filterIcon" style="margin-left: 5px;"></fa-icon></button>
        <!-- <p>sdsdsdsdsd</p> -->
    </form>
</div>
