<div class="district">
    <h1 class="district__heading">District Summary</h1>
    <div class="district__content">
        <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">S/N</div>
              <div class="col col-2">District</div>
              <div class="col col-3">Total</div>
              <div class="col col-4">No of Transaction</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="S/N">1</div>
              <div class="col col-2" data-label="District">Mushin</div>
              <div class="col col-3" data-label="Total">14,345,987.90</div>
              <div class="col col-4" data-label="No of Transaction">4249</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="S/N">2</div>
              <div class="col col-2" data-label="District">Agbara</div>
              <div class="col col-3" data-label="Total">14,345,987.90</div>
              <div class="col col-4" data-label="No of Transaction">2129</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="S/N">3</div>
              <div class="col col-2" data-label="District">Lekki</div>
              <div class="col col-3" data-label="Total">14,345,987.90</div>
              <div class="col col-4" data-label="No of Transaction">9829</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="S/N">4</div>
              <div class="col col-2" data-label="District">Apapa</div>
              <div class="col col-3" data-label="Total">14,345,987.90</div>
              <div class="col col-4" data-label="No of Transaction">3433</div>
            </li>
          </ul>
        <!-- <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">District</th>
                    <th scope="col">Total</th>
                    <th scope="col">No of Transaction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Festact</td>
                    <td>4,5332,3535,1</td>
                    <td>555</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Agbara</td>
                    <td>14,989,980</td>
                    <td>478</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
