<section class="sidebar">
    <div class="sidebar__content">
      <h2 class="sidebar__heading">
        <span><fa-icon [icon]="dashboardIcon" class="dashboardIcon"></fa-icon></span>
        <span>Dashboard</span>
      </h2>
        <nav>
            <ul>
              <li>
                <fa-icon [icon]="chartIcon" style="color: #17148f"></fa-icon>
                <a href="">Dashboard</a>
              </li>

              <li>
                  <fa-icon [icon]="transactionIcon" style="color: #dbc92a"></fa-icon>
                  <a href="">Transaction</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

